div {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border: 000 solid 1px;
    animation-name: myAnimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes myAnimation {
    0% {
        background-color: 000;
        width: 500px;
        color: black;
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }

    50% {
        transform: rotate(180deg);
        transform-origin: 0% 0%;
    }

    100% {
        background-color: black;
        width: 1000px;
        color: white;
        transform: rotate(360deg);
        transform-origin: 50% 50%;
        
    }
}